body,
html {
  overflow-x: hidden;
}

.sidebar-container {
  position: fixed;
  top: 75px;
  left: 0;
  height: 100vh;
  background-color: #fff;
  width: 250px;
  transition: width 0.3s ease;
  z-index: 999;
  overflow-y: auto;
}

@media (max-width: 576px) {
  .sidebar-container.collapsed {
    width: 0px !important;
  }
}

@media (min-width: 577px) {
  .sidebar-container.collapsed {
    width: 80px !important;
  }
}

.right-side-content {
  margin-left: 250px;
  padding: 30px;
  margin-top: 55px;
  transition: margin-left 0.3s ease;
}

.right-side-content.collapsed {
  margin-left: 80px;
}

@media (max-width: 768px) {

  .right-side-content,
  .right-side-content.collapsed {
    margin-left: 0px;
    margin-top: 25px;
  }
}

.table td,
.table th {
  white-space: nowrap;
  /* text wrap na ho */
  overflow: hidden;
  /* overflow hide ho */
  text-overflow: ellipsis;
  /* lamba text ho to ... dikhaye */
  max-width: 200px;
  /* optional: jitni width chaiye utni set karo */
}




.dashboard-heading {
  font-size: 30px;       /* font size */
  font-weight: 700;      /* bold text */
  color: #2a2d32;        /* dark gray text */
  margin-bottom: 20px;   /* space below heading */
  text-transform: capitalize; /* "Dashboard" first letter capital */
  letter-spacing: 0.5px; /* slight spacing */
}
